#
# Sequencing-specific information
#

# directory for FASTQ files
FASTQ_DIR=./fastq

# suffix for fastq:  fq.gz or fastq.gz or fastq  or fq
FASTQ_SUFFIX=clean.fq.gz

# stranded or nonstranded. #0: nonstranded;  1: forward strandness;  2: reverse strandness
STRAND=2     

# sequencing depth #regular: 40-80M; #deep: >100M
SEQUENCE_DEPTH=regular

# sequencing type: pair or single
SEQUENCE_TYPE=pair

COMPREHENSIVE_QC=false

#
# Species-specific GenomeIndex and GTF
#

#Human GRCh38
GENOME_FASTA=/hpc/grid/shared/ngsdb/fasta/GRCh38.primary.genome.fa
GENOME_INDEX=/hpc/grid/shared/ngsdb/STAR/GRCh38_gencode23_100
GENOME_ANNOTATION=/hpc/grid/shared/ngsdb/annotation/gencode/GRCh38.gencode.v23.annot
GTF_FILE=/hpc/grid/shared/ngsdb/annotation/gencode/GRCh38.gencode.v23.gtf
BEDFILE=/hpc/grid/shared/ngsdb/annotation/gencode/GRCh38.gencode.v23.bed
CHR_REGION=chr6:1-170805979


#Human hg19
#GENOME_FASTA=/hpc/grid/shared/ngsdb/bowtie2/hg19.fa
#GENOME_INDEX=/hpc/grid/shared/ngsdb/STAR/hg19_gencode19
#GENOME_ANNOTATION=/hpc/grid/shared/ngsdb/annotation/gencode/hg19.gencode.v19.annot
#GTF_FILE=/hpc/grid/shared/ngsdb/annotation/gencode/hg19.gencode.v19.gtf
#BEDFILE=/hpc/grid/shared/ngsdb/annotation/ensembl/hg19_Ensembl.bed
#CHR_REGION=chr6:1-171115067
#rRNA_BED="/afs/grid.pfizer.com/mm/proj01/app/RNA-seq/RSeQC-2.3.5/dat/hg19_rRNA.bed"

#Mouse
#GENOME_FASTA=/hpc/grid/shared/ngsdb/fasta/mm10.fa
#GENOME_INDEX=/hpc/grid/shared/ngsdb/STAR/mm10/overhang89
#GENOME_ANNOTATION=/hpc/grid/shared/ngsdb/annotation/gencode/mm10.gencode.vM2.annot
#GTF_FILE=/hpc/grid/shared/ngsdb/annotation/gencode/mm10.gencode.vM2.gtf
#BEDFILE=/hpc/grid/shared/ngsdb/annotation/gencode/mm10_GENCODE_GENE_VM2.bed
#CHR_REGION=chr17:1-94987271

#rat
#GENOME_FASTA=/hpc/grid/shared/ngsdb/fasta/rn6.fa
#GENOME_INDEX=/hpc/grid/shared/ngsdb/STAR/rn6_ensembl80
#GENOME_ANNOTATION=/hpc/grid/shared/ngsdb/annotation/ensembl/rn6_80.annot
#GTF_FILE=/hpc/grid/shared/ngsdb/annotation/ensembl/rn6_80.gtf
#BEDFILE=/hpc/grid/shared/ngsdb/annotation/ensembl/rn6_80.bed
#CHR_REGION=20:1-56205956


#
##Software locations
#
STAR_RNA=/hpc/grid/shared/ngsapp/STAR_2.4.0k/bin/Linux_x86_64
FEATURECOUNTS=/hpc/grid/shared/ngsapp/subread-1.4.6/bin
RSeQC=/afs/grid.pfizer.com/mm/proj01/app/python/bin
VARSCAN_JAR=/hpc/grid/shared/ngsapp/bin/VarScan.v2.4.0.jar
LOGDIR=/hpc/grid/scratch/$USER/log
